<html>
    <head>
        <title>
            transaction histroy
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h3>Your trancation history:</h3>
        <table class="table">
            <thead>
                <th>Sr no.</th>
                <th>Item list</th>
                <th>total price</th>
            </thead>
            <tbody>
            <% for(let i=0; i < transcation.length ; i++){%>
                <tr>
                    <td><%=  i+1 %></td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>product name</th>
                                    <th>quantity</th>
                                    <th>price</th>
                                    <th>image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let j=0; j< transcation[i].products.length ; j++ ){%>
                                    <tr>
                                    <td><%=transcation[i].products[j].productId.productName%></td>
                                    <td><%=transcation[i].products[j].quantity%></td>
                                    <td><%=transcation[i].products[j].productId.price%></td>
                                    <td> <img src="http://localhost:3000/upload/product-image/<%=transcation[i].products[j].productId.img%>" alt="Red dot" height="50px" /></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </td>
                    <td><%= transcation[i].totalAmount %></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </body>
</html>